<main class="h-screen overflow-hidden">
  <app-navbar
    [activeElement]="activeElement"
    (handleActiveElement)="handleActiveElement($event)"

  ></app-navbar>

  <section class="flex h-full flex-row">
    <app-left-sidebar class="min-w-[227px]"></app-left-sidebar>
    <app-live class="flex-1 overflow-hidden" id="canvas"></app-live>
    <app-right-sidebar
      class="min-w-[227px]"
      [elementAttributes]="elementAttributes"
      (setElementAttributes)="handleSetElementAttributes($event)"
      (syncShapeInStorage)="syncShapeInStorage($event)"
    ></app-right-sidebar>
  </section>

  <input (change)="handleImageUpload($event)" #check type="file" accept="image/*" class="hidden">
</main>
