::ng-deep .mat-mdc-menu-panel {
  background-color: black !important;
}

::ng-deep .mat-typography p {
  margin: 0 !important;
}

::ng-deep .mat-mdc-menu-item:not([disabled]):hover {
  background-color: rgba(36, 38, 36, 0.905) !important;
}
