<div class="reaction-box">
   <reaction-button
      [reaction]="'👍'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
   <reaction-button
      [reaction]="'🔥'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
   <reaction-button
      [reaction]="'😍'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
   <reaction-button
      [reaction]="'👀'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
   <reaction-button
      [reaction]="'😱'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
   <reaction-button
      [reaction]="'🙁'"
      (handleSelect)="handleSelectReaction($event)"
   ></reaction-button>
</div>
