<section class="flex flex-col border-t border-primary-grey-200 bg-black text-gray-400 min-w-[227px] sticky
 left-0 h-full max-sm:hidden select-none">
    <h3 class="px-5 pt-4 uppercase">Design</h3>
    <span class="text-xs text-gray-300 mt-3 px-5 border-b border-primary-grey-200 pb-4">
      Make changes to canvas as you like
    </span>

    <app-dimensions
      [width]="elementAttributes.width"
      [height]="elementAttributes.height"
      (handleInputChange)="handleInputChange($event)"
      (handleBlurInput)="handleBlurInput()"
    ></app-dimensions>

    <app-text
      [fontFamily]="elementAttributes.fontFamily"
      [fontSize]="elementAttributes.fontSize"
      [fontWeight]="elementAttributes.fontWeight"
      (handleInputChange)="handleInputChange($event)"
    ></app-text>
</section>

