<div id="canvas">
  <canvas #canvasRef></canvas>

  @for (user of others; track user.id) {

    @for (r of reaction; track r.point ) {
      <app-flying-reaction style="pointer-events: none"
        [x]="r.point.x"
        [y]="r.point.y"
        [timestamp]="r.timestamp"
        [value]="r.value"
      ></app-flying-reaction>
    }

    @if (cursor?.cursor) {
      <app-chat style="pointer-events: none"
        [cursorUser]="cursor"
        [modeState]="cursorState"
        (updateModeState)="updateMode($event)"
        (updateMyPresence)="updateMyPresence($event)"
      ></app-chat>
    }

    @if (isReactionState) {
      <app-reaction (setReaction)="updateReaction($event)"></app-reaction>
    }

    @if (user.presence.cursor) {
      <ng-container >
        <app-cursor style="pointer-events: none"
          [color]="colors[+user.connectionId % colors.length]"
          [x]="user.presence.cursor.x"
          [y]="user.presence.cursor.y"
          [message]="user.presence.message"
        ></app-cursor>
      </ng-container>
    }

  }
</div>
